@page
@model ProjDotNetDonut.Pages.Index1Model
@{
}

<head>
    <link rel="stylesheet" href="~/css/SiteAnimation.css"> 
</head>
<div class="text-center">
    <h1 class="display-4">About .NetDonut</h1>
    <p style="padding: 0vw 10vw"> Eddie's attempt at learning .Net Web pages. And an iffy one at that.</p>
    <img style = "animation:FadeIn 1s ;width:25vw" src="~/Assets/Images/dotnetjoke.png" />
</div>