@page
@model ProjDotNetDonut.Pages.Index1Model
@{
}


<div class="text-center">
    <h1 class="display-4">About .NetDonut</h1>
    <p> Eddie's 1st attempt at learning .Net Web pages. And an iffy one at that.</p>
</div>