@page
@model IndexModel
@{
    
}
<head>
    <link rel="stylesheet" href="~/css/SiteAnimation.css"> 
</head>
<div class="text-center">
    <h1 class="display-4">Hello .NetDonut</h1>
    <img src="Assets/Images/DotNetDonut.png" style="animation:FadeIn 1s; width: 50vw; padding-top:5vh"/>
</div>
